*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
    background-repeat: no-repeat;
}
h1{
    color: #FF4B03;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
}

h2{
    color: #FF4B03;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    font-style: italic;
}
footer{
    background-color: #d8d3d3;
    color: #FF4B03;
}
a{
    font-family: 'Aref Ruqaa Ink', serif;
}
audio{
    width:auto;
}
.logo1{
    height:60px;
}
.mayus{
    color: #FF4B03;
}
.boton{
    background-color: #FF4B03;
}
.acomodo{
    display: flex;
    justify-content:end;
}
.nav-link{
    font-size: 22px;
}