*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: black;
    background-repeat: no-repeat;
}
h1{
    color: #FF4B03;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
}

h2{
    color: #FF4B03;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    font-style: italic;
}
h3{
    color: #FF4B03;
    text-align: left;
    font-family: 'Aref Ruqaa Ink', serif;
}
footer{
    background-color: black;
    color: #FF4B03;
}
a{
    font-family: 'Aref Ruqaa Ink', serif;
    text-decoration: none;
}
audio{
    width:auto;
}
img{width: 100%;}
form{
    margin: auto;
    width: 100%;
    max-width: 500px;
    background-color: #ff804eee;
}
form textarea{
    width: 100%;
}
.logo1{
    height:60px;
}
.mayus{
    color: #FF4B03;
}
.boton{
    background-color: #FF4B03;
}
.acomodo{
    display: flex;
    justify-content:end;
}
.nav-link{
    font-size: 22px;
}
.footer-p{
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
}
.imgArticulo{
    height: 200px;
}
.section-h2{
    font-size: 15px;
}
.section-p{
    font-family: 'Aref Ruqaa Ink', serif;
    color: #ffffff;
    text-align: center;
}
.section-a{
    color: #ffffff;
    font-style: oblique;
    text-decoration: underline;
}
.nosotros-img{
    width: 100%;
}
.nosotros-p{
    color: #ffffff;
    font-size: 20px;
}
.contacto-label{
    align-items: center;
}
.contacto-h3{
    text-align: center;
}
.contacto-img{
    width: 50px;
}

.card-tittle{
    font-size: 15;
}
.colorBoton{
    width: 7rem;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin:auto
}
.colorBoton:hover{
    background-color: rgb(34, 215, 34);
    border-radius: 10px;
    transform: translateZ(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 5);
}
.img-eliminar{
    width: 20px;
    height: 30px;
}
.btn{
    background-color: #FF4B03;
    width: 100%;
    max-width: 600px;
    
}