*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
    background-repeat: no-repeat;
}
h1{
    color: #FF4B03;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
}

h2{
    color: #FF4B03;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    font-style: italic;
}
h3{
    color: #FF4B03;
    text-align: left;
    font-family: 'Aref Ruqaa Ink', serif;
}
footer{
    background-color: black;
    color: #FF4B03;
}
a{
    font-family: 'Aref Ruqaa Ink', serif;
}
audio{
    width:auto;
}
.logo1{
    height:60px;
}
.mayus{
    color: #FF4B03;
}
.boton{
    background-color: #FF4B03;
}
.acomodo{
    display: flex;
    justify-content:end;
}
.nav-link{
    font-size: 22px;
}
.footer-p{
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
}
.imgArticulo{
    height: 200px;
}
.card-tittle{
    font-size: 15;
}
.colorBoton{
    width: 7rem;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin:auto
}
.colorBoton:hover{
    background-color: rgb(34, 215, 34);
    border-radius: 10px;
    transform: translateZ(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 5);
}
.img-eliminar{
    width: 20px;
    height: 30px;
}
